<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content">
        <h1 class="mb-4">Contrato</h1>
        <div class="row">
            <div class="col-6 input-group mb-4 ml-3 p-0 rounded bg-white border border-secondary">
                <input matInput type="search" placeholder="Buscar" class="form-control bg-transparent pl-2 border-0 shadow-none">
                <button class="bg-transparent border-0 fa fa-search"></button>
            </div>
        </div>
        <div class="shadow">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource2" matSort class="table">
                    <ng-container matColumnDef="ID">
                        <div class="text-center">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        </div>
                        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                        <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Servicio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Servicio</th>
                        <td mat-cell *matCellDef="let element">{{element.Servicio}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Evento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
                        <td mat-cell *matCellDef="let element">{{element.Evento}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Cliente">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                        <td mat-cell *matCellDef="let element">{{element.Cliente}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                        <td mat-cell *matCellDef="let element">{{element.Estado}}</td>
                    </ng-container>
                    <ng-container matColumnDef="EstadoPago">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de pago</th>
                        <td mat-cell *matCellDef="let element">{{element.EstadoPago}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contrato </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="primary" (click)="getPedidoID(element.ID)" [routerLink]="['/home/generar-contrato/contrato']">
                                <span class="fas fa-sticky-note"></span>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
                <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>