<div class="container-fluid p-5">
    <h1 class="font-weight-bold">Registrar Pagos</h1>
    <mat-tab-group *ngIf="listadoPedidos">
        <!-- tabla contrato -->
        <mat-tab label="Contrato">
            <table mat-table [dataSource]="pedidosContratados" class="table">
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> ID </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.IdPed}} </td>
                </ng-container>

                <ng-container matColumnDef="Proyecto">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Proyecto </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Editar </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> <button class="btn" (click)="getIdPedido(element.IdPed)"><i class="fas fa-edit fa-2x"></i></button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-tab>
        <!-- tabla pago -->
        <mat-tab label="Pago">
            <table mat-table [dataSource]="pedidosPagados" class="table">
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> ID </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.IdPed}} </td>
                </ng-container>

                <ng-container matColumnDef="Proyecto">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Proyecto </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Editar </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> <button class="btn" (click)="getIdPedido(element.IdPed)"><i class="fas fa-edit fa-2x"></i></button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Pendientes">
            <table mat-table [dataSource]="pedidosPendientes" class="table">
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> ID </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.IdPed}} </td>
                </ng-container>

                <ng-container matColumnDef="Proyecto">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Proyecto </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Editar </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> <button class="btn" (click)="getIdPedido(element.IdPed)"><i class="fas fa-edit fa-2x"></i></button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-tab>



    </mat-tab-group>

    <div class="container-fluid d-flex flex-column " *ngIf="detallePedido">
        <div class="container-fluid d-flex">
            <div class="container d-flex flex-column align-items-start border border-primary rounded p-4 m-2">
                <h2>Informacion de Pagos</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Costo Total</mat-label>
                    <input matInput disabled [(ngModel)]="monto.total">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Monto Abonado</mat-label>
                    <input matInput disabled [(ngModel)]="monto.abonado">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Saldo Pendiente</mat-label>
                    <input matInput disabled [(ngModel)]="monto.pendiente">
                </mat-form-field>
            </div>
            <div class="container d-flex flex-column align-items-start border border-primary rounded p-4 m-2">
                <h2>Registro de Pago</h2>
                <mat-spinner *ngIf="loadingFile"></mat-spinner>
                <div *ngIf="!loadingFile" class="container d-flex flex-column align-items-start ">
                    <span class="caption" *ngIf="mensajeExceso" style="color:red">El monto excede al monto
            pendiente</span>
                    <span class="caption" *ngIf="mensajeMonto" style="color:red">Monto Pendiente</span>
                    <mat-form-field appearance="fill">
                        <mat-label>Monto</mat-label>
                        <input matInput [(ngModel)]="montoAbonado" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <input matInput disabled [(ngModel)]="estado">
                    </mat-form-field>
                    <span class="caption" *ngIf="mensajeMetodo" style="color:red">Metodo de Pago Pendiente</span>
                    <mat-form-field appearance="fill">
                        <mat-label>Metodos de Pago</mat-label>
                        <mat-select [ngModel]="metodoPago" (ngModelChange)="asignarTipoEquipo($event)" required>
                            <mat-option *ngFor="let metodo of metodosPago" [value]="metodo.ID">
                                {{metodo.Nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="caption" *ngIf="mensajeArchivo" style="color:red">Archivo Pendiente</span>
                    <input type="file" (change)="onFileSelected($event)" required>
                    <div class="container p-0 my-4">
                        <button mat-raised-button color="primary" type="submit" (click)="uploadFile()">Registrar</button>

                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid p-4">
            <table mat-table [dataSource]="vouchersPago" class="table">
                <ng-container matColumnDef="Codigo">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Codigo </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Codigo}} </td>
                </ng-container>

                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="Monto">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Monto </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Monto}} </td>
                </ng-container>
                <ng-container matColumnDef="Metodo">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Monto </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.MetodoPago}} </td>
                </ng-container>

                <ng-container matColumnDef="Imagen">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Imagen </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> <button class="btn" (click)="openImg(element.Link)"><i
                class="fas fa-image fa-2x"></i></button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <button mat-raised-button color="warn" (click)="mostrarListado()">Atras</button>
        </div>
    </div>

</div>