.example-card {
    max-width: 200px;
  }
.ecommerce-widget{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 10px 0;
}
.example-card img {
    padding: auto;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.example-card button {
    margin: auto;
    display: block;
    padding-top: 20px;
}

h3{
    font-size: 20px;
    margin: auto;
}

.boton-action{
    padding: 10px;
    margin: auto;
}
.addservice{
    font-size: 12px;
    padding: 10px 15px;
    display: left;
}

.registrarPaquete{
    padding: 4px 6px;
    margin: auto;
    display: inline-block;   
    font-size: 12px;
}