<div class="nav-left-sidebar sidebar-dark background-nav">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light pading-n">
            <a class="d-xl-none d-lg-none" routerLink="dashboard">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item">
                        <a routerLink='dashboard' class="nav-link"><i class="fa fa-fw fa-user-circle"></i>Dashboard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='gestionar-cliente'><i
                                class="fas fa-fw fa-user"></i>Clientes</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="gestionar-pedido"><i class="fas fa-fw fa-table"></i>Gestionar
                            Pedidos</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='registrar-pago'><i
                                class="fas fa-credit-card fa-fw "></i>Registrar
                            Pagos</a>

                    </li>
                    <li routerLinkActive="active" class="nav-item ">
                        <a class="nav-link" routerLink='generar-contrato'><i
                                class="fab fa-fw fa-wpforms"></i>Contrato</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="gestionar-proyecto"><i
                                class="fa fa-fw fa-rocket"></i>Proyectos</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='gestionar-equipos'><i
                                class="fas fa-fw fa-chart-pie"></i>gestionar Equipos y
                            personal</a>

                    </li>
                    <li>
                        <a class="nav-link" routerLink='gestionar-personal'><i
                                class="fas fa-fw fa-chart-pie"></i>Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='administrar-equipos'><i
                                class="fas fa-fw fa-table"></i>Administrar
                            Equipos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink='gestionar-perfiles'><i
                                class="fas fa-fw fa-user"></i>Perfiles</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="administrar-paquete-servicio"><i
                                class="fas fa-fw fa-table"></i>Paquetes y
                            Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ver-calendario"><i
                                class="fas fa-fw fa-table"></i>Ver Calendario</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>