.form-control1 {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1
px
 solid #d2d2e4;
    border-radius: 2
px
;
}
