<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content">


        <div class="container-fluid" *ngIf="!asignarPersonal">
            <div style="margin-bottom: 28px;">
                <h1>Asignar Equipos</h1>
            </div>


            <mat-form-field appearance="fill">
                <input matInput placeholder="Buscar" autocomplete="off" (keyup)="filterData($event)">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="table">
                <!-- Nombre de Proyecto  prueba -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        Nombre Proyecto
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                        {{ element.Nombre }}
                    </td>
                </ng-container>

                <!-- Fecha del Evento -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Fecha</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.Fecha }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="servicio">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Servicio</th>
                    <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                        {{ element.Servicio }}
                    </td>
                </ng-container>

                <!-- Tipo de Evento  -->
                <ng-container matColumnDef="evento">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Evento</th>
                    <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                        {{ element.Evento }}
                    </td>
                </ng-container>

                <!-- Estado Proyecto  -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Estado</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <div *ngIf="element.Estado == '0'">Pendiente</div>
                        <div *ngIf="element.Estado == '1'">Asignado</div>
                    </td>
                </ng-container>
                <!-- Accion de Asignar  -->
                <ng-container matColumnDef="asignar">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Asignar</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button class="btn mx-auto" style="background-color: transparent; color: #101c30" (click)="ventanaAsignarPersonal(element.ID,element.Fecha)">
            <i class="fas fa-plus-square fa-2x"></i>
          </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 25, 100]">
            </mat-paginator>
        </div>

        <div class="container-fluid" *ngIf="asignarPersonal && ready_empleados && ready_proyectos && !asignar_equipo">
            <h1 style="margin-bottom: 30px;">Proyecto: {{ proyecto.Nombre }}</h1>

            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Staff y equipos</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-body">
                    <div class="form-row">

                        <div class="col-lg-3 col-f">
                            <label>Miembro del staff:</label>
                        </div>
                        <div class="col-lg-4 col-f box">
                            <select mat-select [ngModel]="id_empleado" (ngModelChange)="asignarEmpleado($event)">
                    <option matInput *ngFor="let empleado of empleados" [value]="empleado.ID">
                      {{ empleado.Nombre }} {{ empleado.Apellido }} -
                      {{ empleado.Car_Nombre }}
                    </option>
                  </select>
                        </div>
                        <div class="col-lg-2 col-f">
                            <label>Equipos:  </label>
                        </div>
                        <div class="col-lg-2">
                            <button mat-button (click)="ventanaAsignarEquipo()" class="btn" style="background-color:transparent"><i
                class="fas fa-edit fa-2x"></i></button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Equipos Asignados</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-body">
                    <div *ngIf="cantidad_asigacion!==0">

                        <mat-form-field appearance="fill">
                            <input matInput placeholder="Buscar" autocomplete="off" (keyup)="filterData2($event)">
                        </mat-form-field>
                        <table mat-table [dataSource]="dataSource2" class="table">
                            <!-- Nombre de Proyecto  -->
                            <ng-container matColumnDef="empleado">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    Empleado
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                                    {{ element.Empleado }}
                                </td>
                            </ng-container>

                            <!-- Fecha del Evento -->
                            <ng-container matColumnDef="codequipo">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Codigo Equipo</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{ element.CodigoEquipo }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="tipoequipo">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Tipo de Equipo</th>
                                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                                    {{ element.TipoEquipo }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nombreequipo">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Nombre de Equipo</th>
                                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                                    {{ element.NombreEquipo }}
                                </td>
                            </ng-container>


                            <!-- Accion de Asignar  -->
                            <ng-container matColumnDef="eliminar">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Eliminar</th>
                                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                                    <button (click)="eliminarAsignacion(element.ID)" class="btn bg-transparent"><i
                class="fas fa-trash fa-2x"></i></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay3"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplay3"></tr>
                        </table>
                        <mat-paginator #paginator2 [pageSize]="5" [pageSizeOptions]="[5,10, 25, 100]">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
            <div style="text-align: center;">
                <button class="btn btn-danger" (click)="closeAsignarPersonal()">
          atras
        </button>
            </div>
        </div>


        <div class="container" *ngIf="asignar_equipo">

            <h1>Equipos Disponibles</h1>

            <div class="container-fluid d-flex align-items-center m-b-20">
                <div class="row">
                    <div class="col-lg-3 col-f">
                        <label>Tipo:  </label>
                    </div>
                    <div class="col-lg-4 col-f box">
                        <select [ngModel]="id_tipo_equipo" (ngModelChange)="asignarTipoEquipo($event)">
            <option *ngFor="let tipo of tipo_equipos" [value]="tipo.PK_TE_Cod"> {{ tipo.TE_Nombre }}
            </option>
          </select>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Buscar" autocomplete="off" (keyup)="filterData3($event)">
                </mat-form-field>
                <table mat-table [dataSource]="dataSource3" class="table">
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            Codigo
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                            {{ element.Codigo }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="marca">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Marca</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{ element.Marca }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="modelo">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Modelo</th>
                        <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                            {{ element.Modelo }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Estado</th>

                        <td mat-cell *matCellDef="let element" class="text-center text-capitalize p-1">
                            <div *ngIf="element.Estado=='Disponible'">
                                <button class="btn bg-transparent" (click)="registrarData(id_empleado,id_proyecto,element.Codigo)"><i
                  class="fas fa-plus fa-2x"></i></button>
                            </div>
                        </td>


                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay2"></tr>
                </table>
                <mat-paginator #paginator3 [pageSize]="10" [pageSizeOptions]="[10, 25, 100]">
                </mat-paginator>

            </div>

            <div style="text-align: center;">
                <button class="btn btn-danger" (click)="closeAsingarEquipo()">Atrás</button>

            </div>
        </div>
    </div>
</div>