<form class="login100-form" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="validacion()">

    <span class="login100-form-subtitle p-b-49">
        Se ha enviado un codigo a su correo
     
    </span>

    <div class="wrap-input15">
        <input class="input15" type="text" formControlName="pas1" maxlength="1">
        <input class="input15" type="text" formControlName="pas2" maxlength="1">
        <input class="input15" type="text" formControlName="pas3" maxlength="1">
        <input class="input15" type="text" formControlName="pas4" maxlength="1">
        <input class="input15" type="text" formControlName="pas5" maxlength="1">
        <input class="input15" type="text" formControlName="pas6" maxlength="1">
    </div>

    <div class="text-right p-t-8 p-b-31"></div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
                Registro
            </button>
        </div>
    </div>

    <div class="flex-col-c p-t-60">
        <span class="txt1 p-b-17">
            ¿Ya tienes una cuenta?
        </span>

        <a routerLink="/auth" class="txt2">
            Ingresa aqui
        </a>
    </div>
</form>