<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content">
        <h1 class="mb-4">Clientes</h1>
        <div class="row">
            <div class="col-6 input-group mb-4 ml-3 p-0 rounded bg-white border border-gray">
                <input matInput type="search" placeholder="Buscar" class="form-control bg-transparent pl-2 border-0 shadow-none">
                <button class="bg-transparent border-0 fa fa-search"></button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="button-margin" mat-raised-button color="primary" [routerLink]="['/home/gestionar-cliente/registrar-cliente']">Registrar Cliente</button>
            </div>
        </div>
        <div class="shadow">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource2" matSort class="table">
                    <ng-container matColumnDef="id">
                        <div class="text-center">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        </div>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                    </ng-container>
                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
                        <td mat-cell *matCellDef="let element">{{element.correo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="celular">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Celular</th>
                        <td mat-cell *matCellDef="let element">{{element.celular}}</td>
                    </ng-container>
                    <ng-container matColumnDef="numDoc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de documento</th>
                        <td mat-cell *matCellDef="let element">{{element.numDoc}}</td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
                        <td mat-cell *matCellDef="let element">{{element.direccion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="primary" (click)="getByIdCliente(element.id)" [routerLink]="['/home/gestionar-cliente/editar-cliente']">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
                <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>