<div class="container-fluid d-flex flex-column ">
  <div class="row ">
    <h1>
    </h1>
    <div class="container w-50 services p-4 d-flex align-items-center justify-content-center flex-column">
      <h1 class="text-center font-weight-bold">Servicios mas requeridos</h1>
      <ngx-charts-pie-chart [results]="dataServicios" [gradient]="gradient" [legend]="showLegend" [labels]="showLabels"
        [doughnut]="isDoughnut" *ngIf="serviciosReady">
      </ngx-charts-pie-chart>

    </div>

    <div class="container w-50 services p-4 d-flex align-items-center justify-content-center flex-column">
      <h1 class="text-center font-weight-bold">Equipos mas Usados</h1>
      <div class="container px-5">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Modelo</th>
              <th scope="col">Marca</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipo of equipos">
              <td>{{equipo.equipo}}</td>
              <td>{{equipo.modelo}}</td>
              <td>{{equipo.marca}}</td>
              <td>{{equipo.cantidad}}</td>
            </tr>

          </tbody>
        </table>
      </div>


    </div>
  </div>

  <div class="row p-4 bottom">

    <div class="container w-50 services p-4 ">
      <h1 class="text-center font-weight-bold">Estados de proyectos</h1>
      <div style="height:500px;width:100%;">
        <ngx-charts-pie-chart [results]="dataEstados" [gradient]="gradient" [legend]="showLegend" [labels]="showLabels"
          [doughnut]="isDoughnut" *ngIf="estadosReady">
        </ngx-charts-pie-chart>
      </div>

    </div>

    <div class="container w-50 services p-4 ">
      <h1 class="text-center font-weight-bold" *ngIf="!Ganancias"> Cantidad de proyectos por mes</h1>
      <div style="height:500px;" *ngIf="!Ganancias">
        <ngx-charts-bar-vertical [results]="data" [gradient]="gradient2" [xAxis]="showXAxis" [yAxis]="showYAxis"
          [legend]="showLegend2" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" *ngIf="!Ganancias && proyectosReady">
        </ngx-charts-bar-vertical>
        <div class="container-fluid d-flex justify-content-center">
          <button class="btn btn-primary" (click)="showGanancias()" *ngIf="!Ganancias">Ganacias por mes</button>

        </div>


      </div>

      <h1 class="text-center font-weight-bold" *ngIf="Ganancias"> Ganancias por mes</h1>
      <div style="height:500px;" *ngIf="Ganancias">
        <ngx-charts-bar-vertical [results]="dataGanancias" [gradient]="gradient2" [xAxis]="showXAxis" [yAxis]="showYAxis"
          [legend]="showLegend2" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" *ngIf="Ganancias && gananciasReady">
        </ngx-charts-bar-vertical>
      </div>

      <div class="container-fluid d-flex justify-content-center">
        <button class="btn btn-primary" (click)="showProyectos()" *ngIf="Ganancias">Proyectos por mes</button>
      </div>

    </div>
  </div>





</div>
