<h2 mat-dialog-title>Paquete</h2>

<mat-dialog-content class="mat-typography">


  <div class="example-container">

    <form #servicioForm="ngForm" (ngSubmit)="addServicio(servicioForm)">  


        <!--Select Tipo de Servicio-->
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Servicio</mat-label>
          <mat-select name="Servicio" [(ngModel)]="service4.selectProyecto.Servicio" #Servicio="ngModel">
            <mat-option *ngFor="let servicio of sServicio" [value]="servicio">
              {{servicio}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      <!--Input Precio-->
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput type="text" name="Precio" #Precio="ngModel" [(ngModel)]="service4.selectProyecto.Precio">
       
      </mat-form-field>


      <!--Input Titulo-->
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Titulo</mat-label>
        <input matInput type="text" name="Titulo" #Titulo="ngModel" [(ngModel)]="service4.selectProyecto.Titulo">

      </mat-form-field>

      <!--Area Descripcion-->
      <mat-form-field appearance="fill">
        <mat-label>Ingresar Descripcion</mat-label>
        <textarea matInput class="descripcion" type="text" name="Descripcion" #Descripcion="ngModel" [(ngModel)]="service4.selectProyecto.Descripcion"></textarea>
      </mat-form-field>


      <!--Action Buttom-->
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button class="btn btn-primary mb-2 mr-1" type="submit">
          Registrar
        </button>
      </mat-dialog-actions>

    
    </form>

  </div>

</mat-dialog-content>