/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.mat-radio-inner-circle {
    background-color: #304a6e !important;
    
}
span.mat-radio-outer-circle{
    border-color:#304a6e !important;
}