.card-header {
  color: #3d405c;
  text-decoration: none;
}
/* .card-body {
    margin-top: -1px;
    border: 1px solid #d9d9e3;
} */
/* .form-control2 {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #71748d;
    background-color: red;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
} */